<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LocApp.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LocApp.Properties.Settings.LocAppDataConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\LocAppData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LocApp.Properties.Settings.LocAppDataConnectionString1"
            connectionString="Data Source=|DataDirectory|\LocAppData.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="LocApp.Properties.Settings.LocAppDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\LocAppDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LocApp.Properties.Settings.LocalAppDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\LocalAppDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LocApp.Properties.Settings.LocalAppDBConnectionString1"
            connectionString="Data Source=PAOLOPC;Initial Catalog=LocalAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LocApp.Properties.Settings.provaConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\prova.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LocApp.Properties.Settings.dbLocaleConnectionString"
            connectionString="Data Source=&quot;C:\Users\paolo\Documents\Visual Studio 2012\Projects\LocApp\LocApplication\dbLocale.sdf&quot;"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>